[submodule "dependencies/glfw"]
	path = dependencies/glfw
	url = https://github.com/glfw/glfw
[submodule "dependencies/cglm"]
	path = dependencies/cglm
	url = https://github.com/recp/cglm.git
	ignore = dirty
[submodule "dependencies/cimgui"]
	path = dependencies/cimgui
	url = https://github.com/cimgui/cimgui.git
[submodule "dependencies/cdsl"]
	path = dependencies/cdsl
	url = https://github.com/RohanFredriksson/CDataStructures.git
[submodule "dependencies/cjson"]
	path = dependencies/cjson
	url = https://github.com/DaveGamble/cJSON.git
